
<div *ngIf="rateVal < 1" class="div1" (click)="rate(1)" ></div>
<div *ngIf="rateVal >= 1"class="div2" (click)="rate(1)"></div>
<div *ngIf="rateVal  < 2" class="div1" (click)="rate(2)"></div>
<div *ngIf="rateVal >= 2"class="div2"  (click)="rate(2)"></div>
<div *ngIf="rateVal  < 3" class="div1" (click)="rate(3)"></div>
<div *ngIf="rateVal >= 3"class="div2"  (click)="rate(3)"></div>
<div *ngIf="rateVal  < 4" class="div1" (click)="rate(4)"></div>
<div *ngIf="rateVal >= 4"class="div2"  (click)="rate(4)"></div>
<div *ngIf="rateVal  < 5" class="div1" (click)="rate(5)"></div>
<div *ngIf="rateVal >= 5"class="div2" (click)="rate(5)"></div>
<div *ngIf="rateVal  < 6" class="div1" (click)="rate(6)"></div>
<div *ngIf="rateVal >= 6"class="div2" (click)="rate(6)"></div>

