<div *ngIf="onHoverElements < 1" class="div1" (mouseover)="onHoverElements=1" (mouseout)="onHoverElements=0" ></div>
<div *ngIf="onHoverElements >= 1"class="div2" (mouseover)="onHoverElements=1" (mouseout)="onHoverElements=0" (click)="rate(1)"></div>
<div *ngIf="onHoverElements  < 2" class="div1" (mouseover)="onHoverElements=2" (mouseout)="onHoverElements=0"></div>
<div *ngIf="onHoverElements >= 2"class="div2" (mouseover)="onHoverElements=2" (mouseout)="onHoverElements=0" (click)="rate(2)"></div>
<div *ngIf="onHoverElements  < 3" class="div1" (mouseover)="onHoverElements=3" (mouseout)="onHoverElements=0"></div>
<div *ngIf="onHoverElements >= 3"class="div2" (mouseover)="onHoverElements=3" (mouseout)="onHoverElements=0" (click)="rate(3)"></div>
<div *ngIf="onHoverElements  < 4" class="div1" (mouseover)="onHoverElements=4" (mouseout)="onHoverElements=0"></div>
<div *ngIf="onHoverElements >= 4"class="div2" (mouseover)="onHoverElements=4" (mouseout)="onHoverElements=0" (click)="rate(4)"></div>
<div *ngIf="onHoverElements  < 5" class="div1" (mouseover)="onHoverElements=5" (mouseout)="onHoverElements=0"></div>
<div *ngIf="onHoverElements >= 5"class="div2" (mouseover)="onHoverElements=5" (mouseout)="onHoverElements=0" (click)="rate(5)"></div>
<div *ngIf="onHoverElements  < 6" class="div1" (mouseover)="onHoverElements=6" (mouseout)="onHoverElements=0"></div>
<div *ngIf="onHoverElements >= 6"class="div2" (mouseover)="onHoverElements=6" (mouseout)="onHoverElements=0" (click)="rate(6)"></div>

