
<nav class="navbar">
  <a href="index.html"> <div class="logo"> Sklep z wycieczkami </div> </a>
   <div class="menu">
      <input type="checkbox" />
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
      <ul class="menuBig">
          <a routerLink="shop-component" routerLinkActive="active"><li >Home</li></a>
          <a routerLink="adding-component" routerLinkActive="active"><li>Add Tour</li></a>
          <a routerLink="cart-component" routerLinkActive="active"><li>Cart</li></a>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- 
<div id="shop">
<app-booked-tours [bookedTours]="bookedTours"></app-booked-tours>
<app-cart [cart]="cart" [cartSum]="cartSum"></app-cart>
</div>

<app-fliter [tours]="toursData"
      (setMinMax2)="setMinMax2($event)"
></app-fliter>

<div id="tours">
  <ng-container *ngFor="let t of toursData" >
  <app-tour 
  *ngIf="t.display"
  [tourData]="t"
  [maxPriceId] = "maxPriceId"
  [minPriceId] = "minPriceId"
  (addTourToBasket)="addToBasket($event)"
  (removeTourFromBasket)="removeFromBasket($event)"
  (delTour)="deleteTour($event)"
  ></app-tour>
</ng-container>
</div>

<app-adding (addTour)="addTour($event)"></app-adding>

-->