#content {
    background-color: #fafafa;
    width: 450px;
    border: solid 1px rgb(187, 186, 186);
    border-radius: 2%;
}

#top-section {
    display: flex;
    justify-content: space-between;
    
}


#top-section > p{
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}

#bottom-section > p {
    margin-left: 30px;
    margin-right: 30px;
}

#places-sections > p {
    margin-left: 30px;
    margin-right: 30px;
}

#info-sections {
    display: flex;
    justify-content: space-evenly;
}


#info-sections > img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px;
}

#bottom-section {
    display: flex;
    justify-content: space-between;
    background-color: #e9e3e3;
}

#buttons > button{
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20%;
}

#lastPlace {
    margin: 10px 30px 10px 30px ;
    padding: 10px;
    background-color: #5076be;
    border-radius: 5%;
    color: white;
}

#noPlace {
    margin: 10px 30px 10px 30px ;
    padding: 10px;
    background-color: #e06a7a;
    border-radius: 5%;
    color: black;
}

#btnDel {
    border: none;
    background-color: #b43131;
}
#btnAdd {
    border: none;
    background-color: #24a02e;
}
#btnOdd {
    border: none;
    background-color: #20a5c7;
}
.top-section1 {
    background-color: red;
}
#btnDetails {
    width: 300px;
    background-color: #caa232;
}
.top-section2 {
    background-color: green;
}
.top-section3 {
    background-color: #e9e3e3;
}