
<div id="content">
<div id="top-section"> 
    <p>Name: {{tourData.name}}</p>
    <app-rating></app-rating>
</div>
<div id="info-sections">
    <img src="{{tourData.imageURL}}" alt="photo">
    <div id="info">
        <p>Destination: {{tourData.destination}}</p>
        <p>Data rozpoczęcia: {{tourData.dateBegin}}</p>
        <p>Data zakoczenia: {{tourData.dateEnd}}</p>
        <p>Opis</p>
        <p>{{tourData.description}}</p>
    </div>
</div>   
<div id="places-sections">
    <p>Places: {{placesReserved}}/{{tourData.places}}</p>
</div>
<div id="bottom-section">
    <p>Price: {{tourData.money}}</p>
    <div id=buttons>
        <button (click)="incrementPlaces()" [style.visibility]="displayDeleteButton ? 'visible' : 'hidden'">D</button>
        <button (click)="incrementPlaces()" [style.visibility]="displayPlusButton ? 'visible' : 'hidden'">+</button>
        <button (click)="decrementPlaces()" [style.visibility]="displayMinusButton ? 'visible' : 'hidden'">-</button>
        
    </div>
</div>

</div>

