<h1>Sklep z wycieczkami</h1>


<div id="shop">
<app-booked-tours [bookedTours]="bookedTours"></app-booked-tours>
<app-cart [cart]="cart" [cartSum]="cartSum"></app-cart>
</div>

<div id="tours">
  <app-tour 
  *ngFor="let t of toursData" 
  [tourData]="t"
  [maxPriceId] = "maxPriceId"
  [minPriceId] = "minPriceId"
  (addTourToBasket)="addToBasket($event)"
  (removeTourFromBasket)="removeFromBasket($event)"
  (delTour)="deleteTour($event)"
  ></app-tour>
</div>

<app-adding (addTour)="addTour($event)"></app-adding>