#home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #0B0C10;
}

#home h1 {
    width: 50%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid#66FCF1; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 3.5vw;
    color:  #66FCF1;
    animation: typing 3.5s steps(40, end);
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

.texthome {
    color:#C5C6C7;
    display: flex;
    padding: 2% 5% 2% 5% ;
    animation: slideInFromLeft 1s ease-in;
}
.texthome:hover {
    color:  #66FCF1;
}
    
.texthome > h2 {
    width: 150px;
    padding: 0 2% 0 2%;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
.texthome > p {
    margin: 10px 0;
}




  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
