
#photos > h2 {
    color: #45A29E;
    padding: 2% 5%;
    letter-spacing: 3px;
    font-size: 40px;
}

#photos {
    background-color: #0B0C10;
    padding-bottom: 100px;
}
.top {
    text-align: center;
    width: 100%;
    font-size: 30px;
    height: 50px;
    text-transform: uppercase;
    padding-top: 100px;
}



.content {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.left {
    padding: 3%;
}

.text > h2 {
    text-transform: uppercase;
    color: #45A29E;
    padding-top: 30px;
}
.text > p {
    color: #C5C6C7;

}

.left a {
    border: none;
    text-decoration: none;
    color: #66FCF1;
}



.gallery {
    position: relative;
    height: 500px;
}

.pic{
    width: 50%;
    padding: 2%;
}

.pic:hover{
    border: 10px solid #66FCF1;
    z-index: 3;
}

img {
    display: block;
    width:100%;
    height: 100%;
}

#pic1 {
    position: absolute;
    left: 5%;
    top: 20%;
}
#pic2 {
    position: absolute;
    left:40%;
    top: 30%;
}
#pic3 {
    position: absolute;
    left:15%;
    top: 50%;
}

@media (max-width: 1000px){
    .content {
        grid-template-columns: 100%;
    }
}